.tabs {
  width: 200px;
  margin: auto;
}

.btn-icon {
  height: 16px;
  vertical-align: middle;
  margin-right: 8px;
}

.btn-text {
  vertical-align: middle;
  display: inline-block;
  width: 160px;
}